.section {
    background-image: url("../assets/technology/background-technology-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}
.meet {
    color: rgb(213, 219, 226);
    margin-top: 5rem;
    margin-left: 3.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    word-spacing: 8px;
    font-size: 1.1rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}
.container {
    display: flex;
    color: rgb(213, 219, 226);
    width: 95%;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4rem;
}
// tabs
.firstCollumn {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 10%;
}
.tab {
    width: 4rem;
    height: 4rem;
    color: white;
    border: 2px solid rgb(213, 219, 226);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1.3rem;
    cursor: pointer;
}
.active {
    color: black;
    background-color: white;
}
.secondCollumn {
    display: flex;
    flex-direction: column;
    width: 45%;
}
.terminology {
    color: grey;
    font-size: 1.3rem;
    text-transform: uppercase;
}
.hugeText {
    color: white;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    line-height: 3.6rem;
}
.explain {
    margin-top: 3rem;
    font-size: 0.9rem;
    margin-bottom: 2rem;
    word-spacing: 3px;
    width: 100%;
    margin-bottom: 5rem;
}
.thirdCollumn {
    width: 36%;
}
img[alt="a rocket"] {
    width: 100%;
    height: auto;
}
// tablet
@media screen and (max-width: 809px) {
    .section {
        background-image: url("../assets/technology/background-technology-tablet.jpg");
    }
    .container {
        flex-direction: column-reverse;
        margin-left: 0;
    }
    .firstCollumn {
        flex-direction: row;
        width: 50%;
        align-items: center;
        justify-content: space-evenly;
        margin: auto;
    }
    .tab {
        width: 3.3rem;
        height: 3.3rem;
    }
    .secondCollumn {
        margin-top: 3rem;
        width: 100%;
        text-align: center;
    }
    .terminology {
        font-size: 1.2rem;
    }
    .hugeText {
        text-align: center;
        font-size: 3rem;
    }
    .thirdCollumn {
        width: 100%;
    }
}
// mobile
@media screen and (max-width: 510px) {
    .section {
        background-image: url("../assets/technology/background-technology-mobile.jpg");
        padding-left: 1rem;
    }
    .terminology {
        font-size: 1.1rem;
        margin-bottom: 0;
    }
    .hugeText {
        text-align: center;
        font-size: 2rem;
        line-height: 2rem;
    }
    .tab {
        width: 2.3rem;
        height: 2.3rem;
        font-size: 1rem;
    }
}
